* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .section-title {
    font-size: 48px;
    padding-bottom: 20px;
    width: 50%;
    border-bottom: 3px solid;
    margin: 0 auto 35px auto;
    color: var(--secondary-color);
    text-align: center;
  }
/*header styles start*/
  header {
    padding: 20px 35px;
    background-position: 80%;
    background-attachment:fixed;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position:sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
  }
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--primary-color);
    text-shadow: 0px 0 15px rgba(0, 0, 0, 0.5);
  }
  header a {
    text-decoration: none;
    color: var(--primary-color);
  }
  header nav {
    margin: 7px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: 200;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow:none;
  }
/*header styles end*/

/*hero styles start*/
.hero {
    background-position: 80%;
    background-attachment: fixed;
    background-size:cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  .hero h2 {
    font-style: italic;
    font-size: 55px;
    color: var(--primary-color);
    line-height: 1.2;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
  }  
/*hero styles end*/

/*intro styles start*/
/*intro styles end*/

/*project styles start*/
.projects img{
    max-width: 40%;
    height: auto;
    width: auto;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.flex-item{
    width: 45%;
    border-radius: 14px;
    border: 4px solid #fb3e55;
    background-color: #393b4f;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    background-size: cover;

    /* crop it at the center */
    background-position: center;       
    padding: 20px 0;

    /* set minimum heigh value so there's room */
    min-height: 250px;
  
    /* rather than use position...use flexbox and create column instead of row */
    display: flex;
    flex-direction: column;     
}

.projects h3 {
    /* pushes element to bottom of flex item */
    margin-top: auto;
    width: 100%;
    background-color: #a8adba;
    color: #393b4f;
    padding: 10px 5px;
    text-align: center;
  }
  .projects h4 {
    /* pushes element to bottom of flex item */
    margin-top: auto;
    width: 100%;
    background-color: #a8adba;
    color: #393b4f;
    padding: 10px 5px;
    text-align: center;
  }
.largeProject{
    width: 100%;
    border-radius: 14px;
    border: 4px solid #fb3e55;
    background-color: #393b4f;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    background-size: cover;    
}
/*project styles end*/

/*contact styles start*/
/*contact styles end*/